:root{
    /* KOLORKI */
    --color-back-white: #ffffff;
    --color-black:       #000000;
    --color-grey1-F7:   #f7f7f7;
    --color-grey2-E8:   #E8E9ED;
    --color-grey3-00a:  #00000029;
    --color-grey4-A5:   #A5A5A5;
    --color-grey5-95:   #95989A;
    --color-grey6-70:   #707070;
    --color-blue1-07:   #07ACE6;
    --color-blue2-07a:  #07ACE629;
    --color-blue3-08:   #08A6E4;
    --color-darkblue:   #13253B;
    --color-pink1-F9a:  #F9043629;
    --color-pink1-FFa:  #FF091129;
    --color-red1-FB:    #FB3B64;
    --color-red2-EB:    #EB476E;
    --color-green-55:   #55DFB4;
    
    /* Czcionki Google Fonts*/
    --ff-OS: "Open Sans", serif;
    --ff-Ra: "Raleway", sans-serif;
    --fw-Light:   300;
    --fw-Regular:   400;
    --fw-SemiBold:   600;
    --fw-Bold:   700;
    --fw-ExtraBold:   800;

    /* Ozdobniki inne */
    --radius-main: 5px;
    --radius-circle: 50%;
    --radius-cards: 18px;
    --radius-cards_button: 23px;



}

*{
    box-sizing: border-box;
    font-family: var(--ff-OS);
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: var(--fw-Regular);
}

header{
    width: 100%;
    height: 70px;
    background-color: var(--color-back-white);
    box-shadow: 0px 3px 6px var(--color-grey3-00a);
    position: fixed;

    
}

.container{
    max-width: 1352px;
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    /* background-color: #EB476E35; */
}
.logo{
    color: var(--color-blue3-08);
    font-family: var(--ff-Ra);
    font-weight: var(--fw-Regular);
    font-size: 32px;

}
.nav-bar{
    color: var(--color-grey4-A5);
    font-family: var(--ff-OS);
    font-weight: var(--fw-Bold);
    font-size: 11px;
    height: 100%;
}
.nav-bar ul{
    height: 100%;
    
}
.nav-bar li{
    display: inline-block;
    align-content: center;
    margin-left: 95px;
    height: 100%;
}
 .nav-bar a:hover{ /* <<<<Zmieniono z li na a */
    color: var(--color-black);
    border-bottom: 4px solid var(--color-blue3-08);
    cursor: pointer;
} 
/* \/ dorobione po poprawie błedu z klikalnością a było bez żadnych styków \/ */
.nav-bar a{
    text-decoration: none;
    color: var(--color-grey4-A5);
    font-family: var(--ff-OS);
    font-weight: var(--fw-Bold);
    font-size: 11px;
    display: inline-block;
    height: 100%;
    align-content: center;
}

/* SEKCJA OTWIERAJĄCA */

.opener-section{
    width: 100%;
    height: 712px;
    /* display: flex; */
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 70px;
    margin-bottom: 70px;
    /* Po przesunięciu sekcji o 70px aby można było bar klikać iapózniej się zasłąniał następna sekcja zasłaniałą obecną dlatego dolny marginaes taki jak przesunięcie sekcji */

}
.opener-img{
    position: absolute;
    width: 100%;
    bottom: 0px;
}
.opener-h1{
    color: var(--color-black);
    font-family: var(--ff-Ra);
    font-weight: var(--fw-Regular);
    font-size: 49px;
    margin-top: 130px;
}
.opener-p{
    font-size: 16px;
    margin-top: 20px;
}
.opener-link{
    display: block;
    text-decoration: none;
    font-size: 16px;
    font-weight: var(--fw-Bold);
    margin: 35px;
    color: var(--color-back-white);
    background-color: var(--color-blue3-08);
    padding: 22px 157px 23px;
    border-radius: 40px;
    box-shadow: 5px 10px 14px var(--color-blue2-07a);
    transition: 0.3s;
}
.opener-link:hover{
    background-color: var(--color-darkblue);
}

.stats {
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--color-back-white);
    position: relative;
    
    
}
.stats-h2{
    color: var(--color-black);
    font-family: var(--ff-Ra);
    font-weight: var(--fw-Regular);
    font-size: 36px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.stats-cards_all{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 120px;
}
.stats-cards{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    position: relative;
    max-width: 176px;
    height: 100%;
}

.stats-icon{
    align-self: last baseline;
    z-index: 1;
    transform: translate(0, calc(-50% + 31px));
    position: absolute;
}

.stats-cards-one::before{
    content: "";
    display: flex;
    width: 63px;
    height: 63px;
    background-color: var(--color-red1-FB); 
    border-radius: var(--radius-circle);
    position: absolute;
    top: 0px;
}

.stats-cards-two::before{
    content: "";
    display: block;
    width: 63px;
    height: 63px;
    background-color: var(--color-blue3-08); 
    border-radius: var(--radius-circle);
    position: absolute;
    top: 0px;
}

.stats-cards-three::before{
    content: "";
    display: block;
    width: 63px;
    height: 63px;
    background-color: var(--color-green-55); 
    border-radius: var(--radius-circle);
    position: absolute;
    top:0px;
}

.stats-h3{
    color: var(--color-black);
    font-family: var(--ff-Ra);
    font-weight: var(--fw-ExtraBold);
    font-size: 20px;
    margin-top: 77px;
}
.stats-name{
    max-width: 100px;
    margin-top: 19px;
    display: block;
    text-align:center;

    
}
.main-page{
    background-color: var(--color-grey1-F7);
    width: 100%;
    position: relative;
}
.benefits{
    /* background-color: #EB476E70; */
    /* margin-top: 105px; */
    max-width: 1124px;
    flex-direction: column;
    gap: 37px; 
}
.articles{
    background-color:var(--color-back-white);
    display: flex;
    justify-content: space-between;
    height: 370px;
    padding: 70px 35px 70px 35px;
    border: 1px solid var(--color-grey2-E8);
    border-radius: var(--radius-main);
    position: relative;
    
}
.articles:first-of-type{
    margin-top: 105px;
}
.articles:nth-of-type(2n){
    flex-direction: row-reverse;
}
.articles:last-of-type{
    background-color: var(--color-grey1-F7);
    gap: 61px; 
    margin-bottom: 105px;
    padding: 0px;
    border: none;
}
.articles:last-of-type div{
    background-color: var(--color-back-white);
    height: 100%;
    padding: 70px 35px;
    border: 1px solid var(--color-grey2-E8);
    border-radius: var(--radius-main);

}
.articles:last-of-type .article-img-div{
    background-color: var(--color-green-55);
}

.article-img{
    max-height:100%;
}
.article-h4{
    color: var(--color-black);
    font-family: var(--ff-Ra);
    font-weight: var(--fw-Regular);
    font-size: 36px;
}
.article-text{
    color: var(--color-black);
    font-family: var(--ff-OS);
    font-weight: var(--fw-Regular);
    font-size: 16px;
}
.underline{
    display: inline-block   ;
    width: 80%;
    border: 4px solid var(--color-red1-FB);
    
}
.article-2 .underline{
    border: 4px solid var(--color-blue3-08);

}
.article-3 .underline{
    border: 4px solid var(--color-green-55);
}
.cols{
    max-width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.article-1 + .article-img-div img{

    padding-right: 100px;
    padding-top: 25px;
    position: relative;
    z-index: 1;
 



}
.article-1 + .article-img-div::before{
    content: "";
    display: block;
    width: 180px;
    height: 180px; 
    border-radius: 41px;
    /* transform: rotate(45deg); */
    /* transform: translate(-50%, 50%); */
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    background-color: var(--color-red1-FB);
    position: absolute;
    right: 125px; 
    z-index: 0;
}
.article-2 + .article-img-div img{
    
    position: relative;
    left: 70px;
    z-index: 1;
}
.article-2 + .article-img-div::before{
    content: "";
    display: block;
    width: 320px;
    height: 320px; 
    border-radius: var(--radius-circle);
    background-color: var(--color-blue3-08);
    position: absolute;
    top:20px;
    left: 70px; 
    z-index: 0;
    
}
/* SEKCJA Pricing */
.pricing-dev{
    max-width: 1266px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-top: 100px;
}

.pricing-h2{
    color: var(--color-black);
    font-family: var(--ff-Ra);
    font-weight: var(--fw-Regular);
    font-size: 36px;
    margin-bottom: 50px;
}
.cards{
    gap: 60px;
}

.card{
    background-color: var(--color-back-white);
    width: 100%;
    /* height: 1200px; */
    border: 1px solid var(--color-red1-FB);
    border-radius: var(--radius-cards);

    text-align: center;
}
.card-2{
    transform: scale(1.05);
    border-color: var(--color-blue1-07);
    box-shadow: 5px 10px 27px var(--color-blue2-07a);
}
.card-3{border-color: var(--color-green-55);}

.card-h3{
    color: var(--color-darkblue);
    font-family: var(--ff-Ra);
    font-weight: var(--fw-Bold);
    font-size: 20px;
    margin-top: 34px;
    margin-bottom: 14px;
}
.card-1-span, .card-2-span,.card-3-span{
    /* color: var(--color-darkblue); */
    font-family: var(--ff-OS);
    font-weight: var(--fw-Light);
    font-size: 46px;
    color: var(--color-red1-FB);
}
.card-2-span{color: var(--color-blue1-07);}
.card-3-span{color: var(--color-green-55);}
.card-h4{
    color: var(--color-darkblue);
    font-family: var(--ff-Ra);
    font-weight: var(--fw-Bold);
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 50px;
}
.card li{
    color: var(--color-black);
    font-family: var(--ff-OS);
    font-weight: var(--fw-Regular);
    font-size: 14px;
    margin: 10px;
}
.card a{
    color: var(--color-back-white);
    font-family: var(--ff-OS);
    font-weight: var(--fw-Bold);
    font-size: 13px;

    display: inline-block;
    text-decoration: none;
    background-color: var(--color-red2-EB);
    padding: 16px 57px;
    width: min-content;
    border-radius: var(--radius-cards_button);
    transform: translate(0, +50%);
    transition: 0.3s;
}

.card-2 a{
    background-color: var(--color-blue1-07);
    box-shadow: 5px 10px 14px var(--color-blue2-07a);
}
.card-3 a{background-color: var(--color-green-55);}

.card a:hover{
    transform: scale(1.1) translate(0, +50%);
    color: var(--color-darkblue);
}
.card li:not(.card-1-li:nth-of-type(n+4), .card-2-li:last-of-type)::before{
    content: "";
    display: inline-block;
    background-image: url("../assets/Ckechmark-1.svg");
    background-size: cover;
    background-position: center;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}
.card-1-li:nth-of-type(n+4)::before, .card-2-li:last-of-type::before{
    content: "";
    display: inline-block;
    background-image: url("../assets/Close.svg");
    background-size: cover;
    background-position: center;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

/* Sekcja Questions */
.questions{
    max-width: 896px;
    margin-top: 197px;
    margin-bottom: 59px;

}
.question-contact{
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.question-h3{
    color: var(--color-black);
    font-family: var(--ff-Ra);
    font-weight: var(--fw-Regular);
    font-size: 49px;
    margin-bottom: 22px;
}
.question-p{
    color: var(--color-black);
    font-family: var(--ff-OS);
    font-weight: var(--fw-Regular);
    font-size: 16px;
    margin-bottom: 40px;
}
.question-img{
    display: inline-block;
}
.question-email-tel{
    color: var(--color-grey4-A5);
    font-family: var(--ff-OS);
    font-weight: var(--fw-SemiBold);
    font-size: 16px;
    margin: 10px;
}
.question-form{width: 50%;}

.form-all{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.form-label{
    color: var(--color-blue3-08);
    font-family: var(--ff-OS);
    font-weight: var(--fw-Bold);
    font-size: 12px;
    margin-top: 4px;
    text-transform: uppercase;
}
.form-input{
    border: none;
    border-bottom: 1px solid var(--color-grey5-95);
    margin-bottom: 38px;
}
.form-checkbox-label{
    color: var(--color-grey6-70);
    font-family: var(--ff-OS);
    font-weight: var(--fw-Regular);
    font-size: 12px;
    display: inline-flex;

}
.form-checkbox{display: none;}
.form-checkbox-span{
    display: 
    inline-block;
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    border: 1px solid var(--color-grey5-95);
    border-radius: 4px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.form-checkbox:checked + .form-checkbox-span{
    background-image: url(../assets/Checkmark.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%
}
.form-btn{
    align-self: flex-end;
    width: min-content;
    padding: 20px 97px;
    background-color: var(--color-blue3-08);
    color: var(--color-back-white);
    border: 0px;
    border-radius: 35px;
    box-shadow: 5px 10px 14px var(--color-blue2-07a);
    margin-top: 20px;
}

/* FOOTER */
footer{
    background-color: var(--color-grey1-F7);
    box-shadow: 0px -5px 40px var(--color-grey3-00a);
    padding-top: 20px;
    padding-bottom: 17px;
}
.footer-logo{
    color: var(--color-blue3-08);
    font-family: var(--ff-Ra);
    font-weight: var(--fw-Light);
    font-size: 26px;
    
    
}
.footer-copy{
    display: block;

    color: var(--color-grey4-A5);
    font-family: var(--ff-OS);
    font-weight: var(--fw-Regular);
    font-size: 11px;
    margin-top: 4px;
}
.footer-icon-div{
    display: inline-flex;
    gap: 20px;
}
.footer-icon{
    width: 24px;
    height: 24px;
}