:root{
    /* KOLORKI */
    --color-back-white: #ffffff;
    --color-black:       #000000;
    --color-grey1-F7:   #f7f7f7;
    --color-grey2-E8:   #E8E9ED;
    --color-grey3-00a:  #00000029;
    --color-grey4-A5:   #A5A5A5;
    --color-grey5-95:   #95989A;
    --color-grey6-70:   #707070;
    --color-blue1-07:   #07ACE6;
    --color-blue2-07a:  #07ACE629;
    --color-blue3-08:   #08A6E4;
    --color-darkblue:   #13253B;
    --color-pink1-F9a:  #F9043629;
    --color-pink1-FFa:  #FF091129;
    --color-red1-FB:    #FB3B64;
    --color-red2-EB:    #EB476E;
    --color-green-55:   #55DFB4;
    
    /* Czcionki Google Fonts*/
    --ff-OS: "Open Sans", serif;
    --ff-Ra: "Raleway", sans-serif;
    --fw-Light:   300;
    --fw-Regular:   400;
    --fw-SemiBold:   600;
    --fw-Bold:   700;
    --fw-ExtraBold:   800;

    /* Ozdobniki inne */
    --radius-main: 5px;
    --radius-circle: 50%;
    --radius-cards: 18px;
    --radius-cards_button: 23px;



}

*{
    box-sizing: border-box;
    font-family: var(--ff-OS);
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: var(--fw-Regular);
}

header{
    width: 100%;
    height: 70px;
    background-color: var(--color-back-white);
    box-shadow: 0px 3px 6px var(--color-grey3-00a);
    position: fixed;

    
}

.container{
    max-width: 1352px;
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    /* background-color: #EB476E35; */
}
.logo{
    color: var(--color-blue3-08);
    font-family: var(--ff-Ra);
    font-weight: var(--fw-Regular);
    font-size: 32px;

}
.nav-bar{
    color: var(--color-grey4-A5);
    font-family: var(--ff-OS);
    font-weight: var(--fw-Bold);
    font-size: 11px;
    height: 100%;
}
.nav-bar ul{
    height: 100%;
    
}
.nav-bar li{
    display: inline-block;
    align-content: center;
    margin-left: 95px;
    height: 100%;
}
.nav-bar li:hover{
    color: var(--color-black);
    border-bottom: 4px solid var(--color-blue3-08);
    cursor: pointer;
}
.opener-section{
    width: 100%;
    height: 712px;
    /* display: flex; */
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 70px;
    margin-bottom: 70px;
    /* Po przesunięciu sekcji o 70px aby można było bar klikać iapózniej się zasłąniał następna sekcja zasłaniałą obecną wlatego dolny marginaes taki jak przesunięcie sekcji */

}
.opener-img{
    position: absolute;
    width: 100%;
    bottom: 0px;
}
.opener-h1{
    color: var(--color-black);
    font-family: var(--ff-Ra);
    font-weight: var(--fw-Regular);
    font-size: 49px;
    margin-top: 130px;
}
.opener-p{
    font-size: 16px;
    margin-top: 20px;
}
.opener-link{
    display: block;
    text-decoration: none;
    font-size: 16px;
    font-weight: var(--fw-Bold);
    margin: 35px;
    color: var(--color-back-white);
    background-color: var(--color-blue3-08);
    padding: 22px 157px 23px;
    border-radius: 40px;
    box-shadow: 5px 10px 14px var(--color-blue2-07a);
    transition: 0.3s;
}
.opener-link:hover{
    background-color: var(--color-darkblue);
}

.stats {
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--color-back-white);
    position: relative;
    
    
}
.stats-h2{
    color: var(--color-black);
    font-family: var(--ff-Ra);
    font-weight: var(--fw-Regular);
    font-size: 36px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.stats-cards_all{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 120px;
}
.stats-cards{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    position: relative;
    max-width: 176px;
    height: 100%;
}

.stats-icon{
    align-self: last baseline;
    z-index: 1;
    transform: translate(0, calc(-50% + 31px));
    position: absolute;
}

.stats-cards-one::before{
    content: "";
    display: flex;
    width: 63px;
    height: 63px;
    background-color: var(--color-red1-FB); 
    border-radius: var(--radius-circle);
    position: absolute;
    top: 0px;
}

.stats-cards-two::before{
    content: "";
    display: block;
    width: 63px;
    height: 63px;
    background-color: var(--color-blue3-08); 
    border-radius: var(--radius-circle);
    position: absolute;
    top: 0px;
}

.stats-cards-three::before{
    content: "";
    display: block;
    width: 63px;
    height: 63px;
    background-color: var(--color-green-55); 
    border-radius: var(--radius-circle);
    position: absolute;
    top:0px;
}

.stats-h3{
    color: var(--color-black);
    font-family: var(--ff-Ra);
    font-weight: var(--fw-ExtraBold);
    font-size: 20px;
    margin-top: 77px;
}
.stats-name{
    max-width: 100px;
    margin-top: 19px;
    display: block;
    text-align:center;

    
}